:root{
    --btn-bg: #3882F6;
    --hero-bg: #1F2937;
    --hero-main: #F9FAF8;
    --hero-secondary: #E5E7EB;
    --header-logo: #F9FAF8;
    --header-text: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text: #1F2937;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#btn_head{
    font-size: 16px;
    padding: 5px;
    width: 100px;
    background-color: var(--btn-blue);
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--btn-bg);
    color: var(--hero-main);
}
#btn:hover{
    cursor: pointer;
    color: white
}
.header_section{
    display: flex;
    flex-direction: column ;
    background-color: var(--hero-bg);
    padding: 0 20% 0 20% ;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav a{
    padding: 1rem;
    color: var(--hero-secondary);
    text-decoration: none;
}
.header_Link{
    align-self: center;
    text-decoration: none;
}
#header_logo{
    color: var(--header-logo);
}
nav a:hover{
    text-decoration: underline;
}

.hero_section{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    flex-wrap: nowrap;
}

#hero-main-text{
    color: var(--hero-main);
    font-size: 48px;
    font-weight:extra bold;
    
}
#hero-secondary-text{
    font-size: 18px;
    color: var(--hero-secondary);
}
.details_Container{
    align-self: center;
}
.image_Container{
    text-align: center;
    width: 300px;
    text-align: center;
    /* background-color: blue; */
    align-self: center;
}

.image_Container img {
    width: 100%;
}
#header2{
    text-align: center;
}
.blog_section{
    display: flex;
    flex-direction: column;

}

.blog_section article h6{
    color: var(--header-text);
    font-size: 36px ;
}
.blog_section article img{
    width: 150px;
    border: 4px solid var(--btn-bg);
    border-radius: 10px;
}
.guaranteed{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    text-align: center;
}
.quote_Section{
    background-color: var(--quote-bg);
    color: var(--quote-text);
}
.quote_Section{
    padding: 100px;
}
.quote{
    margin: 0 25% 0 25%;
}
#signature{
    text-align: end;
}

.button_section{
    display: flex;
    justify-content: space-around;
    background-color: var(--btn-bg);
    color: var(--hero-main);
    border-radius: 10px;
    margin: 4rem;
    padding: 3rem;
}

#btn_foot{
    color: var(--hero-main);
    background-color: transparent;
    border: 1px solid var(--header-logo);
    padding: 10px;
    border-radius: 10px;
}

.footer_section{
    background-color: var(--hero-bg);
    color: var(--hero-main);
    padding: 2rem;
    text-align: center;
}